@model TesteApiGmillView.Models.CompanyView

@{
    ViewData["Title"] = "Empresa";
}

<div class="text-center">
    <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>
    <p>Uma empresa localizada em @Html.DisplayFor(model => model.Address)!</a>.</p>
    <tu>
        @Html.ActionLink("Funcionarios", "CompanyEmployees", new {id = Model.Id, name = Model.Name, address = Model.Address}) |
        @Html.ActionLink("Projetos", "DetailCompany", new {id = Model.Id}) 
    </tu>

</div>
